@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    font-family: "Metropolis", system-ui, sans-serif;
  }
}

@font-face {
  font-family: "Metropolis";
  src: url("./fonts/Metropolis-Regular.woff2");
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
}

.bg-custom-gradient {
  background: linear-gradient(0deg, #ffebb3 0%, #ffebb3 100%), #27ae60;
}
